


.wrapper__title {
	color: DarkTurquoise;
}

.wrapper__subtitle {
	color: CadetBlue;
	font-size: 25px;
}

.wrapper__btn {
	background: yellow;
	outline: none;
	border: none;
	box-shadow: 0 0 0 1px black;
	cursor: pointer;
}

.wrapper__btn:hover {
	transform: translate(1px);
}
